<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
	      <p>&copy 2022 Pediatric Cardiac Bioengineering Lab. </p>
              <p>We are part of <a href="https://www.childrenshospital.org/">Boston Children's Hospital</a> and <a href="https://hms.harvard.edu/">Harvard Medical School</a>.</p>
		   <p>  </p><p>
		</div>
		 <div class="col-sm-4">
		  </div>
		<div class="col-sm-4">
		  Contact:<br />
		  Pierre E. Dupont, Boston Children's Hospital<br />
		  330 Longwood Avenue<br />
		  Enders Building 350<br />
		  Boston, Massachusetts 02115 <br />
                 (<a href="https://goo.gl/maps/WM3tnUKxvb1wFRr96">Maps</a>, <a href="mailto:pierre.dupont@childrens.harvard.edu">Email</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
