<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/"><font size="6px"><p style="color:#000080;">DUPONT  LABORATORY</p></font></a>
		<br/>
		<br/>
		<font size="3px">MEDICAL ROBOTICS & INTERVENTIONAL DEVICES</font>
	</div>
	  
  <img src="{{ site.url }}{{ site.baseurl }}/images/LogoBCHHarvard.png" class="img-responsive" width="328px" height="55px" style="float: right"/>
	  
	
	  <div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right text-align: center">
		<li><a href="{{ site.url }}{{ site.baseurl }}/"><p style="color:#000080;">Home</p></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team"><p style="color:#000080;">Team</p></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications"><p style="color:#000080;">Publications</p></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research"><p style="color:#000080;">Research</p></a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/allnews"><p style="color:#000080;">News</p></a></li>
		<li><a href="mailto:pierre.dupont@childrens.harvard.edu"><p style="color:#000080;">Contact</p></a></li>
	  </ul>
	</div>
  </div>
</div>
